<div class="profile-bg d-flex justify-content-center align-items-center">
  <div class="container d-flex justify-content-center">
    <div class="create-content d-flex flex-column align-items-center px-5 py-4" *ngIf="!loading">
      <form [formGroup]="profileForm">
        <h2 class="text-center">My Profile</h2>
        <div class="container-position pt-3">
          <div class="camera-icon"></div>
          <div class="picture-container">
            <div class="picture">
              <img *ngIf="imageUrl" class="image-size" [src]="imageUrl" alt="Uploaded Image" />
              <input type="file" id="wizard-picture" (change)="onChange($event)" accept="image/*" />
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-12">
            <div class="posn-relative">
              <div class="form-group" [ngClass]="{'error-border': isInvalid(profileForm.controls['username'])}">
                <label for="name" class="icons profile-white-icon"></label>
                <input type="text" formControlName="username" placeholder="Enter username" />
                <span class="input-focus"></span>
              </div>
              <div *ngIf="isInvalid(profileForm.controls['username'])" class="error-message">
                Please enter username
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="posn-relative">
              <div class="form-group" [ngClass]="{'error-border': isInvalid(profileForm.controls['email'])}">
                <label for="email" class="icons email-white-icon"></label>
                <input type="email" formControlName="email" placeholder="Enter email" />
                <span class="input-focus"></span>
              </div>
              <div *ngIf="isInvalid(profileForm.controls['email'])" class="error-message">
                {{ getEmailErrorMessage(profileForm.controls['email']) }}
              </div>
            </div>
          </div>

          <div class="col-12 pt-4" *ngIf="isDisabled">
            <div class="button-wrap">
              <div class="button-bg"></div>
              <button type="submit" (click)="edit()">Edit</button>
            </div>
          </div>

          <div class="col-6 pt-4" *ngIf="!isDisabled">
            <div class="button-wrap">
              <div class="button-bg"></div>
              <button type="button" (click)="onCancel()">Cancel</button>
            </div>
          </div>
          <div class="col-6 pt-4" *ngIf="!isDisabled">
            <div class="button-wrap">
              <div class="button-bg"></div>
              <button type="submit" (click)="onSubmit()">Save</button>
            </div>
          </div>

        </div>


      </form>
      <p class="message pt-4 mb-0" [ngClass]="{'main-error-message': isError}">{{msg}}</p>
    </div>

  </div>
</div>
<app-inner-spinner *ngIf="loading"></app-inner-spinner>