<div class="gradient-bg">
    <div class="close-icon" (click)="closeModal()"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center pt-5">
                <p class="text-size pt-5 mb-5">{{ reminderData['content'] }}</p>
            </div>
            <div class="col-12 d-flex justify-content-center pb-5" *ngIf="reminderData['animationUrl'] != ''">
                <img class="img-content" [src]="reminderData['animationUrl']" [alt]="reminderData['animationName']" />
            </div>
        </div>
    </div>
</div>