.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.spinner-border {
    border-color: #00dbde;
    border-right-color: transparent;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}