:root {
  // purple lake
  --background-gradient-1: #ED1E79;
  --background-gradient-2: #662D8C;
  --text-color: #ffffff;
  --text-color-2: #000000;
  --modal-color-1: #ffffff;
  --modal-color-2: #0000005c;
  --list-color: #0000005c;
  --header: #ED1E79;
  --link-color: #662D8C;
  --modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --menu-color: #000000;
}

.fake-plant {
  --background-gradient-1: #55efc4;
  --background-gradient-2: #000000;
  --text-color: #ffffff;
  --text-color-2: #ffffff;
  --modal-color-1: #212529;
  --modal-color-2: #7dc0aed4;
  --list-color: #0000005c;
  --header: #ffffff;
  --link-color: #ffffff;
  --modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --button-box-shadow: 3px 0px 9px 3px rgba(250, 250, 250, 0.5);
  --menu-color: #000000;
}

.ocean-blue {
  --background-gradient-1: #00C4CC;
  --background-gradient-2: #0A1A44;
  --text-color: #ffffff;
  --text-color-2: #000000;
  --modal-color-1: #ffffff;
  --modal-color-2: #0000005c;
  --list-color: #0000005c;
  --header: #00C4CC;
  --link-color: #00C4CC;
  --modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --button-box-shadow: 3px 0px 9px 3px rgba(250, 250, 250, 0.5);
  --menu-color: #000000;
}

.sanguine {
  --background-gradient-1: #FBB03B;
  --background-gradient-2: #D4145A;
  --text-color: #ffffff;
  --text-color-2: #000000;
  --modal-color-1: #ffffff;
  --modal-color-2: #0000005c;
  --list-color: #0000005c;
  --header: #FBB03B;
  --link-color: #D4145A;
  --modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --menu-color: #000000;
}

.plum-plate {
  --background-color: #ffffff;
  --background-gradient-1: #00dbde;
  --background-gradient-2: #A020F0;
  --text-color: #ffffff;
  --text-color-2: #000000;
  --modal-color-1: #ffffff;
  --modal-color-2: #0000005c;
  --list-color: #0000005c;
  --header: #00dbde;
  --link-color: #A020F0;
  --modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --menu-color: #000000;
}

.yosemite {
  --background-gradient-1: #EA8D8D;
  --background-gradient-2: #A890FE;
  --text-color: #ffffff;
  --text-color-2: #000000;
  --modal-color-1: #ffffff;
  --modal-color-2: #0000005c;
  --list-color: #0000005c;
  --header: #EA8D8D;
  --link-color: #A890FE;
  --modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --menu-color: #000000;
}

.antarctica {
  --background-gradient-1: #D8B5FF;
  --background-gradient-2: #1EAE98;
  --text-color: #ffffff;
  --text-color-2: #000000;
  --modal-color-1: #ffffff;
  --modal-color-2: #0000005c;
  --list-color: #0000005c;
  --header: #D8B5FF;
  --link-color: #1EAE98;
  --modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --menu-color: #000000;
}

.white {
  --background-gradient-1: #fff;
  --background-gradient-2: #fff;
  --text-color: #000000;
  --text-color-2: #000000;
  --modal-color-1: #fff;
  --modal-color-2: #0000005c;
  --list-color: #0000005c;
  --header: #000000;
  --link-color: #000000;
  --modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --menu-color: #fff;
}